# Python build/cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Lokale Datenbanken & persistente Files
*.db
data/

# Umgebungen & lokale Tools
.env
.venv

# Git & Docker Meta
.git
.gitignore
.dockerignore

# Logs
*.log